<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
</head>
<body>
<form th:action="@{/employee}" method="post">
  <input type="hidden" name="_method" value="PUT">
  <table>
    <tr>
      <th>姓名</th>
      <th>年龄</th>
      <th>性别</th>
      <th>邮箱</th>
    </tr>
    <tr>
      <td><input type="hidden" th:value="${employee.empId}" name="empId">
        <input type="text" th:value="${employee.empName}" name="empName"></td>
      <td><input type="text" th:value="${employee.age}" name="age"></td>
      <td><input type="text" th:value="${employee.sex}" name="sex"></td>
      <td><input type="text" th:value="${employee.email}" name="email"></td>
    </tr>
  </table>
  <input type="submit" value="确认修改"/>
</form>
</body>
</html>